/*/////////////////////////////////////////////////////////////////////////////////////////////*/
/* IMPORTS ////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////*/

@import "news.css";
@import "refresh.css";

/*/////////////////////////////////////////////////////////////////////////////////////////////*/
/* HTML, BODY /////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////*/

html { height: 100%; font-size: 100%}
body { position:absolute; top:0; bottom:0; right:0%; left:0%; margin-top: 8vh;}
body { width: 100%; margin-left: 0px; margin-right: 0px;}

html {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-kerning: auto;
      font-size: 24px;
      font-stretch: normal;
      font-style: normal;
      font-variant: normal;
      font-variant-ligatures: normal;
      font-weight: normal;
}


/*html { overflow-x: hidden; }*/

/*/////////////////////////////////////////////////////////////////////////////////////////////*/
/* FRAME  /////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////*/

.top_frame { position:fixed;
             bottom: 92%; height:8%; left:0; width:100%;
             text-align: right;
             display: block; background-color: black ; color: rgb(40,100,200);
             font-weight:bold;
             z-index:499;
           }

.bottom_frame { position:fixed;
                bottom: 0%; height: 8%; left: 0; width:100%;
                display: block; background-color: #d4d8dd ; 
                z-index:499;
              }

.menu { position: fixed; top:0%; left: 10%; height: 6%; padding-top: 1%; font-weight: bold;
        background-color: transparent; color: gray; z-index: 1001;}

.icon { position: fixed; top:0%; right: 1%; height: 6%; padding-top: 1%; text-align: right;
        font-weight: bold; background-color: transparent; z-index: 1000;}

.status { position: fixed; top:93%; left: 2%; height: 6%; padding-top: 1%;
        background-color: transparent; color: gray; font-weight: bold; z-index: 1001;}

/*/////////////////////////////////////////////////////////////////////////////////////////////*/
/* MARGIN  ////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////*/

.bottom_margin { position: absolute; 
                 left: 0; width: 100%; height: 200%; 
                 display: block;
                 background-color: rgb(50,50,50); 
                 z-index: -1;
               }

/*/////////////////////////////////////////////////////////////////////////////////////////////*/
/* LINK ///////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////*/

a:link, a:visited {color: #1564b2;}
a:hover {color: #1e90ff}
a {text-decoration: none;}

/*/////////////////////////////////////////////////////////////////////////////////////////////*/
/* COLOR //////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////*/

.dodgerblue { color: dodgerblue; }
.navy       { color: rgb(0,100,200); }
.coral      { color: coral }
.powderblue { color: rgb(140, 179, 184) }
.gray       { color: gray; }

/*/////////////////////////////////////////////////////////////////////////////////////////////*/
/* BANNER /////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////*/

.banner { position: absolute; left: 0; width: 100%; height: 1em;
            background-color: rgb(200,230,255); display-block; }

.yellow_banner { position: absolute; left: 0; width: 100%; height: 3em;
            background-color: rgb(255,225,0); display-block; }

hr { border-style: solid; border-width: 1px; border-color: lightgray;
    padding: 0px;
    margin: 0px;
}


.dashed { border-style: dashed; border-width: 5px; border-color: lightgray;
    padding-bottom: 0;
    margin: 3px;
}

/*
.dashed {
         border-style: dashed; border-bottom: none; border-width: 5px; color: lightgray;
         border-left: none; border-right: none;
         padding-bottom: 1em; margin: 3px;
}
*/

.border {
        margin-top: 1em;
        border-top: 2px solid silver;
        border-bottom: 2px solid silver;
        display: block
}

.border_dotted {
        border-bottom: 10px solid silver;
        border-bottom-style: dotted;
        padding-bottom: 1em; 
        margin-bottom: 1em;
        display:block;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////*/
/* IMAGE //////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////*/

.postimage {
     border: 3px solid silver; /*#1564b2;*/
     width: auto; 
     height: 130px;
}
.postimage:hover {
    border: 3px solid dodgerblue;
}

.table_image {
     border: 3px solid silver; /*#1564b2;*/
     width: auto;
     height: 260px;
     display: block;
     margin-left: auto;
     margin-right: 0;
     margin-top: 1em;
     margin-bottom: 1em;
}

.image_container {
    position:fixed;
    top: 8%;
    height: 84%;
    left: 0;
    width: 100%;
    display: block;
    background-color: rgb(70,70,70);
}

.image{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
    zoom: 10;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////*/
/* POST SINGLE ////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////*/

/* symbol */
.sss {
      font-size: x-large; /* xx-large; */
      font-weight: bold;
     }

.ssh {
      font-size: x-large;
      font-weight: bold;
     }

/* sys */
.sys {
      color: rgb(100,100,100);
      font-size: x-large; /* xx-large; */
      font-weight: bold;
    }

/* single header */
.sh {
      padding-top: 1em;
      padding-bottom: 1em;
      color: dodgerblue;
      font-size: xx-large;
      font-weight: bold;
    }

/* single header paragraph*/
.shp { 
      font-size: large;
      font-weight: bold; 
    }
/* single link arrow */
.sa {
      font-size: x-large;
      font-weight: bold;
      font-family: monospace;
    }

/* single filename */
.sf {
      font-size: large;
      font-weight: bold;}

/* single title */
.st {
      font-size: large;
      font-weight: bold;
      color: rgb(140, 179, 184);
    }

/* single subtitle */
.ss {
      font-size: large;
    }

/* single text */
.sx {
      font-size: large;
      font-style: italic;      
    }



